server:
  port: 8080

app:
  bucket: ${R2_BUCKET}
  api-key: ${DEV_API_KEY}
r2:
  account-id: ${R2_ACCOUNT_ID}
  access-key: ${R2_ACCESS_KEY_ID}
  secret-key: ${R2_SECRET_ACCESS_KEY}
  endpoint: https://${r2.account-id}.r2.cloudflarestorage.com
environments:
  dev-front:
    endpoint: http://localhost:5173
spring:
  main:
    banner-mode: "off"
  jackson:
    serialization:
      INDENT_OUTPUT: true
logging:
  level:
    org:
      springframework:
        security: DEBUG;

web:
  servlet:
    mvc:
      method:
        annotation:
          RequestMappingHandlerMapping: DEBUG